$bgc:background-color;
$bg:background;

$ff:font-family;
$fs:font-size;

$bt:border-top;
$br:border-right;
$bb:border-bottom;
$bl:border-left;

$pt:padding-top;
$pr:padding-right;
$pb:padding-bottom;
$pl:padding-left;

$mt:margin-top;
$mr:margin-right;
$mb:margin-bottom;
$ml:margin-left;
