.goods{
	width: 990px;
	margin:10px auto;

	.location{
	    font-family: '宋体';
	    color: #999;
	    font-size:14px;
	    line-height: 2;
	}
	.fdj{
		float:left;
		.mpic{
			width: 430px;
			height: 430px;
			border:1px solid #ccc;
			img{width: 430px;height: 430px;}
		}
		.spic{
			width: 430px;
			padding:10px 2px;
			img{
				width: 51px;
				height: 41px;
				margin-right:4px;
				float:left;
				border:2px solid #fff;
			}
			img.active{border-color:#f60;}
		}
	}
	.goods-price{
		overflow:hidden;
		padding-left:20px;
		h3{
			line-height: 2;
			border-bottom:1px dotted #ccc;
		}
		ul{
			padding:10px 0;
			li{
				padding-left:2px;
				font-size:14px;
				line-height: 2;
				i{text-decoration:line-through;}
				b{color:#f60;font-size:20px;}

			}
		}
		p{
			padding:20px 2em;
			background-color:#f5f5f5;
			span{
				display:inline-block;
				height: 30px;
				line-height: 30px;
				padding:0 5px;
				background:#fff;
				border:1px solid #ccc;
				margin-right:5px;
			}
			span.active{border-color:#f60;}
			i{
				display:inline-block;
				height: 30px;
				line-height: 30px;
				padding:0 5px;
				border:1px solid #ccc;
				margin: 0 10px;
				background:#fff;
			}
		}
		.size{padding-left:4em;}
		.color{padding-left:4em;}
		.count{
			i.active{background:#f60};
			input{
				height: 30px;
				width: 20px;
				margin:0 10px;
				padding-left:10px;
			}
		}

		.btnBuy{
			padding:10px 0;
			margin-top:10px;
			border-top:1px dotted #ccc;
			border-bottom:1px dotted #ccc;
			button{
				padding:0 50px;
				height: 44px;
				margin-left:20px;
				border-radius:5px;
			}
			.buyNow{background:#c00;}
			.buyCar{background:#FFB5C5;}
		}

	}
	.detail{
		width: 1004px;
		height: 6355px;
		margin:20px auto;
		background:url('../images/goodsDetailpic.png') center no-repeat;
	}
}