
/* ----------nav------------------ */
#header_nav{
	width: 100%;
	height: 34px;
	background-color: #A21F25;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	
	.container{
		.nav1{
			float: left;
			width: 190px;
			position: relative;
			p{
				float:left;
				width: 189px;
				border-right: 1px solid #A21F27;
				background-color:#B9363C;
				color: white;
				font-weight: bold;
			}
	
			ul{
				display:none;
				position: absolute;
				left: 0;top: 34px;
				width: 190px;
				height: 385px;
				background-color: #1F1909;
				color: white;
				z-index:200;
				li:hover{
					.menu{
						display:block;
					}
				}

				li{
					height: 12px;
					line-height: 12px;
					text-align: left;
					width: 149px;
					padding: 17px 0 13px 41px;
					position: relative;

					.menu{
						display:none;
						position:absolute;
						width: 280px;
						padding:20px;
						height: 345px;
						top: 0;
						left: 190px;
						background-color:#fbfbfb;
						opacity:0.9;
						dl{
							line-height:2;
							dt{
								border-bottom:1px solid #000;
								padding-top:10px;
								position: relative;
								.more{
									position: absolute;
									right: 10px;
								}
							}
							dd{
								a{color:#d06;}
								a:hover{
									text-decoration:under-line;
									color:blue;
								}
							}

						}
					}



					span{
						width: 22px;
						position: absolute;
						left:11px;
						top:50%;
						margin-top:-5px;
					}
					.shoes{
						height: 12px;
						background: url("../images/nav.fw.png");
					}
					 .clothes{
						height: 19px;
						background: url("../images/nav.fw.png") -30px 0;
					}
					.run{
						height: 27px;
						background: url("../images/nav.fw.png") -60px 0;
					}
					.basketball{
						height: 18px;
						background: url("../images/nav.fw.png") -90px 0;
					}
					.football{
						height: 18px;
						background: url("../images/nav.fw.png") -120px 0;
					}
					.bag{
						height: 20px;
						background: url("../images/nav.fw.png") -150px 0;
					}
					.outdoor{
						height: 14px;
						background: url("../images/nav.fw.png") -180px 0;
					}
					.shoes2{
						height: 18px;
						background: url("../images/nav.fw.png") -210px 0;
					}
					.shoes3{
						height: 14px;
						background: url("../images/nav.fw.png") -240px 0;
					}

				}
			}

		}
		.nav1:hover{
			ul{display:block;}
		}

		.nav_l{
			float: left;
			height: 34px;
			li{
				position: relative;
				a:hover{
					background-color: #444444;
					margin-left: -1px;
					padding-left: 1px;
					span{
						border-right-color:#444444;
					}

				}

				.hide{
					display:none;
					width: 688px;
					padding: 8px 0 13px;
					position: absolute;
					left: 0;
					top: 34px;
					background:white;
					z-index:200;
					a{color:#ccc;font-size:12px;}
					a:hover{color:#f60;background-color: #fff;}
					ul{
						width: 140px;
    					padding-left: 22px;
						float:left;
						li{float:none;}
					}

					.hider{
						width: 255px;
						li{
							a{
								display:inline-block;
								width: 69px;
								height: 35px;
								border:1px solid #fff;
								padding:0;
								margin: 5px;
								float:left;
							}
							a:hover{border-color:#cc0;}
						}
					}
				}
			}
			li:hover{
				.hide{display:block;}
			}
			li:last-child{
				span{
					display: block;
				    width: 165px;
				    height: 34px;
				    line-height: 34px;
				    position: relative;
				    background: url('img/wx.gif') no-repeat 0 0;
					img{
						position: absolute;
						left: 0;
						top: 34px;
						display: none;
					}
				}
			}
			li:last-child:hover{
				img{
					display: block;
				}
			}

		}
		.nav_r{
			float: right;
			height: 34px;

			a{
				span{
					border-left:none;
					border-right: 1px solid #D09091;
				}
			}

			li{
				a:hover{
					color:#FFCB01;
				}
				.youhui{
					display: block;
					width: 33px;
					height: 18px;
					background: url("../images/youhui.jpg");
					position: absolute;
					top:-8px;
					right:-4px;
					/*z-index:1000;*/
				}
			}
		}

		a{
			span{
				display: block;
				height: 14px;
				line-height: 14px;
				padding-left:13px;
				padding-right: 16px; 
				border-right: 1px solid #D6A19B;
			}
			.one{
				padding-right: 18px;
				padding-left: 21px;
			}
			.last{
				border:none;
			}

		}
	}
	 .container>ul{
	 	li{
	 		float: left;
	 		height: 34px;
	 		position: relative;
			
			a{
				display: block;
				height: 14px;
				color:white;
				padding:10px 0;
			}

	 	}
	 }
}

/* --------------banner----main-------------------- */
#banner{
	width: 100%;
	height: 550px;
	background: url("../images/banner01.jpg") center;
}

main{
	width: 100%;
	background: #7213e3 url('../images/bbbggg.jpg') center bottom repeat-y;
}
/* ---------------sports-------------------------- */
#sportsLog{
	padding-top: 20px;
	ul{
		overflow:hidden;
		li{
			float: left;
		    background: url('img/sli.png') no-repeat #fff;
		    width: 167px;
		    height: 94px;
		    margin-right: 3px;
		    position: relative;
		    a{
		    	display: block;
		    	width: 157px;
		        height: 84px;
		        margin: 5px;
		        overflow: hidden;
		        position: absolute;
		        left: 0;top: 0;
		        img{
		        	position: absolute;
		        	left: 0;
		        	top: 0;
		        }
		    }

		}
	}
}

/* ----------------menu--------------------------- */
#menu{
	margin-top:20px;
	background-color: white;

	.menu_l{
		width: 280px;
		float: left;
		border: 1px solid #e6e6e6;
		margin-right: 5px;
		padding-left: 150px;
		position: relative;
		img{
			display: block;
			position: absolute;
		    left: 0px;
		}
		ul.type{
			float: left;
			li{
				margin: 20px 10px 0 0;
			    cursor: pointer;
			    background: url('img/menu1.png') no-repeat 0 0;
			    width: 122px;
			    height: 52px;
			    display: block;
			}
			li:last-child{
				background: url('img/menu2.png') no-repeat 0 -52px;
			}
		}
		.content{
			// display:none;
			.contentclothes{display:none;}
			ul{
				float: left;
				font-size:16px;
			   	margin:30px 0 0 20px;
			    height: 265px;
			    li{
			    	line-height: 2;
			    }
			} 
		}
	}
	.menu_r{
		width: 142px;
		border-right:none;
	}
}
/* --------------zq------------------- */
#zq{
	margin-top:20px;
	li{
		width: 392px;
	    height: 364px;
	    position: relative;
	    float: left;
	    text-align: center;
	    margin: 0 4px 4px 0;
	    .ball{
	    	width: 241px;
    	    height: 241px;
    	    margin: 32px 0 0 76px;
    	    transform:rotate(0deg);
    	    transition:all 1s;
    	    background:url('img/ball.png') center no-repeat;
	    }
	    
	    .ballpic{
	    	position: absolute;
	    	left: 73px;
	    	top: 36px;
	    }
	}
    .bg1{
	    background: url('img/bg1.jpg');
    }
    .bg2{
	    background: url('img/bg2.jpg');
    }
    .text{
    	font-family: "microsoft yahei";
	    color: #fff;
	    padding-top: 34px;
	    margin: 0 auto;
	    text-align: center;
	    line-height: 24px;
	    p:first-child{
	    	font-size: 24px;
	    }
	    p:last-child{
	    	font-size: 16px;
	    }
    }
    li:hover{
    	p{color:black;}
    	.ball{transform:rotate(360deg);}
    }
}
/* ---------------fl------------------------- */
#fl{
	margin-top:10px;
	position: relative;
    height: 715px;
    background: url(img/flbg.jpg);
    ul{
    	float: left;
	    width: 274px;
	    height: 695px;
	    background: url(img/flbg1.png);
	    margin-right: 18px;
	    li{
	    	width: 274px;
    		float: left;
    		margin-top: 70px;
    		.text{
    			font-family: "microsoft yahei";
			    color: #fff;
			    font-size: 18px;
			    text-align: center;
			    line-height: 34px;
			    letter-spacing: 2px;
			    span{
			    	border: 1px solid #fff;
		    	    font-size: 16px;
		    	    text-align: center;
		    	    padding: 0 10px;
			    }
    		}
	    }
	    li:hover{
	    	span{background:black;}
	    }
    }
    .star{
    	position: absolute;
    	right: 94px;
    	top: -10px;
    }
}
/* ----------------goods------------------- */
#goods{
	width: 990px;
	margin: 20px auto;
	.goodshead{
		height: 259px;
		background: url('img/goodsheadbg.jpg') no-repeat;
	    width: 970px;
	    height: 179px;
	    padding: 10px;
	    position: relative;
	    .cover{
	    	position: absolute;
	    	left: 0;
	    	top: 0;
	    	width: 100%;
	    	height: 100%;
    	    background-color: rgba(0,0,0,0);
	    	transition:all 1s;
	    }
	    .text{
	    	position: absolute;
	    	left: 0;
    	    bottom: 50px;
	    	transition:all 1s;
	    	font-family: "microsoft yahei";
    	    text-align: center;
    	    width: 100%;
    	    z-index: 2;
    	    p:first-child{
	    	    color: #fff;
	    	    font-weight: bold;
	    	    font-size: 27px;
	    	    line-height: 27px;
	    	    text-align: center;
    	    }
    	    p:last-child{
    	    	color: #fff;
	    	    font-size: 20px;
	    	    margin-top: 7px;
	    	    padding: 0 10px 0 15px;
	    	    border: 0;
	    	    display: inline-block;
    	    }
	    }
	    
	}
	.goodshead:hover{
		.cover{
    	    background-color: rgba(0,0,0,0.5);
		}
		.text{
			bottom:70px;
		}
	}
    .type{
    	height: 49px;
    	padding-top:10px;
    	background:url('img/goodstypebg.jpg');
    	span{
    		float: left;
		    font-family: "microsoft yahei";
		    font-size: 19px;
		    color: #fff;
		    line-height: 32px;
		    font-weight: bold;
		    padding: 0 22px;
    	}
    	a{
    		float: left;
    		width: 130px;
		    height: 40px;
		    display: block;
		    background: #6310de;
		    color: #fff;
		    line-height: 40px;
		    text-align: center;
		    margin: 0 2px;
		    font-size: 19px;
		    font-weight: bold;
    	}
    	a:hover{
    		background:black;
    	}
    }
    .goodslist{
    	dl{
    		display: inline-block;
		    width: 186px;
		    margin: 10px 2px;
		    background-color: #fff;
		    border:2px solid #fff;
		    dt{
		    	background-color:#fff;
		    	height: 160px;
			    text-align: center;
			    padding: 1px;
			    position: relative;
			    border-bottom:1px solid #ccc;
		    	a{
		    		// padding: 0 11px;
		    		width: 100%;text-align: center;
	    		    display: block;
		    	}
		    	img{
		    		height: 160px;
	    		    width: 160px;
		    	}
		    }
		    ul{	
		    	background-color:#fff;
		    	width: 182px;
	    	    border: 2px solid #fff;
	    	    border-top: none;
	    	    padding: 0 0 4px 0;
	    	    height: auto;
	    	    overflow: visible;
	    	    .f1{
	    	    	white-space: nowrap;
    	    	    width: 186px;
	    	    	height: 36px;
    	    	    line-height: 18px;
    	    	    padding-top: 4px;
    	    	    padding-left: 4px;
    	    	    text-overflow: ellipsis;
	    	    }
	    	    .f2{
	    	    	height: 22px;
    	    	    line-height: 22px;
    	    	    padding-left: 3px;
    	    	    position: relative;
    	    	    .price{
    	    	    	padding-right: .3rem;
					    font-size: 18px;
					    font-family: Microsoft Yahei;
					    font-weight: 700;
					    color: #f00;
    	    	    }
    	    	    .del_price{color: #000;text-decoration: line-through;}
    	    	    .buy_btn{
    	    	    	display: block;
					    width: 65px;
					    height: 18px;
					    line-height: 18px;
					    text-align: center;
					    color: #fff;
					    background: #000;
					    position: absolute;
					    right: 3px;
					    bottom: 2px;
    	    	    }
	    	    }
		    }
    	}
    	dl:hover{
    		border:2px solid #f60;
    	}
    }
}
/* ----------------footxxxx---------------------------- */
.footbrand{
	width: 1000px;
    background: #fff;
    overflow: hidden;
    padding-bottom: 1px;
    margin: 0 auto;
    height: 142px;
    a{
    	border: 1px solid #DFDFDF;
    	display: block;
    	float: left;
    	height: 70px;
    	margin: 0 -1px -1px 0;
    	overflow: hidden;
    	position: relative;
    	text-indent: -999px;
    	width: 98px;
    	background: url('img/footbrand.png') no-repeat 21px -176px;
    }
    a:nth-child(2){background-position: -106px -176px;}
    a:nth-child(3){background-position: -715px -333px;}
    a:nth-child(4){background-position: -838px -333px;}
    a:nth-child(5){background-position: -590px -176px;}
    a:nth-child(6){background-position: -596px -10px;}
    a:nth-child(7){background-position: -347px -176px;}
    a:nth-child(8){background-position: -835px -176px;}
    a:nth-child(9){background-position: -719px -10px;}
    a:nth-child(10){background-position: -476px -331px;}
    a:nth-child(11){background-position: -719px -10px;}
    a:nth-child(12){background-position: -718px -486px;}
    a:nth-child(13){background-position: -347px -176px;}
    a:nth-child(14){background-position: -230px -176px;}
    a:nth-child(15){background-position: -229px -491px;}
    a:nth-child(16){background-position: -829px -411px;}
    a:nth-child(17){background-position: -719px -10px;}
    a:nth-child(18){background-position: -595px -491px;}
    a:nth-child(19){background-position: -230px -176px;}
    a:nth-child(20){background-position: 32px -490px;}
}

.foottitle{
	height: 36px;
    width: 990px;
    margin: 0 auto 28px;
    clear: both;
    border-bottom: 1px solid #ccc;
    position: relative;
    h3{
    	font-size: 18px;
    	font-family: microsoft yahei;
    	position: absolute;
    	left: 50%;
    	margin: 12px 0 0 -60px;
    	background: #fff;
    	padding: 10px 20px;
    	font-weight: 100;
    }
}

.footbody{
	width: 990px;
    margin: 0 auto 15px;
    font-family: microsoft yahei;
    overflow: hidden;
    dl{
    	width: 245px;
	    float: left;
	    padding-right: 2px;
	    dt{		    
		    b{
		    	text-align: center;
	    	    display: block;
	    	    font-size: 14px;
	    	    font-weight: 700;
	    	    font-style: normal;
	    	    text-decoration: none;
		    }
		    img{width: 80px;height: 80px;margin:0 82px;}
	    }
	    dd{
	    	border-right: 1px dotted #ccc;
    	    height: 85px;
    	    overflow: hidden;
    	    padding: 0 10px 0 15px;
    	    a{
    	    	color: #555;
	    	    display: block;
	    	    float: left;
	    	    margin-bottom: 10px;
	    	    white-space: nowrap;
	    	    width: 54px;
	    	    font-size: 12px;
	    	    text-decoration: none;
    	    }
	    }
    }
}

.footlog{
	margin: 0 auto;
    width: 990px;
}

/* -------------------footer------------------------- */
footer{
	height: 226px;
	background-color: #F5F5F5;
	border-top: 2px solid #CD3B3B;
	padding: 15px 0 16px 0;
	.container{
		height: 226px;
		.fl{
			width: 230px;
			height: 195px;
			padding-left: 31px;
			float: left;
			div{
				width: 229px;
				height: 195px;	
				border-right: 1px solid #DEDEDE;
				position:relative;
				.p1{
					height: 18px;
					line-height: 18px;
					padding-left: 28px;
					color: #9A9A9A;
					font-weight: bold;
					position: relative;
					.s1{
						display: block;
						width: 23px;
						height: 15px;
						background:url("../images/footer_p1.jpg");
						position: absolute;
						left: 0;
						top: 0;
					}
					.s2{
						color: #B1B1B1;
					}
				}
				.p2{
					color: #C00F23;
					font-size: 18px;
					font-weight: bold;
					line-height: 24px;
				}
				.p3{
					margin-top: 4px;
					font-size: 14px;
					line-height: 18px;
					color: #9B9B9B;
				}
				.erweima{
					display: block;
					width: 175px;
					height: 96px;
					background: url("../images/erweima.jpg");
					position: absolute;
					right: 54px;
					bottom: 9px;
				}
			}
		}
		.fr{
			width: 929px;
			height: 195px;
			float:right;
			.fr1{
				float: left;
				height: 195px;
				width: 180px;
				padding-left: 50px;
				.fr11{
					height: 36px;
					margin-bottom: 22px;
					padding-left: 40px;
					position: relative;
					.s1{
						display: block;
						width: 40px;
						height: 36px;
						position: absolute;
						left: 0;
						top:0;
					}
					.s11{
						background: url("../images/nav.fw.png") -280px 0;
					}
					.s12{
						background: url("../images/nav.fw.png") -330px 0;
					}
					.s13{
						background: url("../images/nav.fw.png") -380px 0;
					}
					.s14{
						background: url("../images/nav.fw.png") -430px 0;
					}
					.s2{
						font-size: 18px;
						line-height: 18px;
						color: #AAAAAA;
					}
					.s3{
						font-size: 12px;
						line-height: 18px;
						color: #B8B8B8;
					}

				}
				dl{
					dt{
						font-size: 18px;
						margin-top: 18px;
						line-height: 50px;
					}
					dd{
						font-size: 12px;
						line-height: 18px;
						color: #9C9C9C;
					}
				}
			}
		}

	}
}

/* ---------------------links--------------------------------- */
/* .links{
	text-align: center;
    padding: 20px 0;
    a:hover{
		text-decoration:underline;
		color:#f60;
    }
    b{
    	color:#f60;
    	font-size:20px;
    }
    .last{
    	width: 640px;
    	height: 50px;
    	margin: 20px auto 10px;
		a{
			display:block;
			float: left;
		    width: 112px;
		    height: 47px;
		    margin-right: 10px;
		    border:1px solid #fff;
		    img{width: 100%;height: 100%;}
		}
		a:hover{
			border:1px solid #ccc;
		}
    }
}
 */
.friendlinks{
	margin: 3px auto;
    width: 990px;
	padding:10px 0;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;

	h4{
		position: relative;
		overflow:hidden;
		ul{
			overflow:hidden;
			position: absolute;
			left: 75px;
			top: 0;
			li{
				font-size:12px;
				line-height: 16px;
				font-weight:normal;
				a{margin-right: 5px;}
				a:hover{text-decoration:underline;color:#f60;}
			}
		}
	}
}