main{
	.tt{
		margin: 0 auto;
	    width: 780px;
	    line-height: 30px;
	    text-align: right;
	    padding-right: 10px;
	    a:hover{
	    	text-decoration:underline;
	    	color:#f60;
	    }
	}
	form{
		width: 980px;
		position:relative;
		font-size:20px;
		margin:10px auto;
		.error{color:#f60;font-size: 12px;}
		input[id]{
			height: 30px;
			width: 280px;
		}
		fieldset{
			border:none;
			background:rgb(254,245,245);
		}
		legend{
			font-weight:bold;
		}
		p:nth-last-of-type(2){
			font-size:12px;
		}
		p{
			margin:10px 0 0 80px;
			a{color:#f60;text-decoration:underline;}
		}
		.fp1{margin-left:3em;}
		.fp2{margin-left:4em;}
		.fp3{margin-left:2em;}
		.fp4{margin-left:3em;}
		.fp5{margin-left:12em;}
		.fp6{
			margin-left:11em;
			width: 89px;
	    	height: 38px;
	    	text-indent: 0;
	    	color: #fff;
	    	font-weight: bold;
	    	background:#F60;
	    	border-radius:8px;
		}
		.no{background-color:#ccc;}

		.left{
			position:absolute;
			top:40%;
			right:70px;
			b{font-size:12px;}
			a{
				display: inline-block;
				margin-top:20px;
			    width: 91px;
			    height: 32px;
			    background-color:yellow;
			    line-height: 30px;
			    text-align: center;
			    color: #c66;
			    font-size: 14px;
			    font-weight: 700;
			}
		}
	}
}