#header{
	width: 100%;
	height: 25px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #E5E5E5;
}
#header ul{
	float: right;
}
#header ul li{
	float: left;
	height: 16px;
	line-height: 16px;
	margin-top: 4px;
	border-right: 1px solid #D4D4D4;
	position: relative;
	padding: 0 16px 0 15px;
}
#header ul .leftTu{
	padding-left: 35px;
}
#header ul .rightTu{
	padding-right: 26px;
}
#header ul .last{
	padding-left: 38px;
}
#header ul li .only{
	padding-right: 13px;
}
#header ul li a{
	color:#656565;
	font-size: 12px;
}
#header ul .one a{
	color:#FE6603;
}
#header ul .last a{
	color:#B60C15;
	font-size: 14px;
	font-weight: bold;
}
#header ul .arror,#header ul .phone,
#header ul .qq,#header ul .tell{
	display: block;
	position: absolute;
}
#header ul .arror{
	width: 9px;
	height: 5px;
	background:url("../img/sprites.fw.png");
	right: 10px;
	top: 6px;
}
#header ul .phone{
	width: 12px;
	height: 16px;
	background:url("../img/sprites.fw.png") -30px 0;
	top: 0;
	left: 14px;
}
#header ul .qq,#header ul .tell{
	width: 17px;
	height: 16px;
	background:url("../img/sprites.fw.png") -70px 0;
	top: 0;
	left: 14px;
}
#header ul .qq{
	background:url("../img/sprites.fw.png") -70px 0;
}
#header ul .tell{
	background:url("../img/sprites.fw.png") -110px 0;
}
#header .one a:hover{
	color: red;
	text-decoration: underline;
}
#header a:hover{
	color: red;
	text-decoration: underline;
}
/*-------------major----------*/
#major{
	height: 77px;
}
#major h1{
	float: left;
	width: 425px;
	height: 77px;
	background:url("../img/sprites.fw.png") 0 -35px;
}
#major .search{
	float: left;
	margin-left: 115px;
	height: 77px;
}
#major .search form{
	/*一种清除浮动的方式：在父元素加overflow：hidden*/
	overflow: hidden;
	margin-top: 16px;
}
#major .search .text1{
	width: 265px;
	height: 26px;
	float: left;
	border-right: 0;
	border-color: #D5D5D5;
	padding-left: 7px;
	color:#656565;
	border-width:2px;
}
#major .search .button1{
	width: 65px;
	height: 30px;
	float: left;
	background-color: #444444;
	border:0;
	color:#FCF7D1;

}
#major .search p{
	font-size: 12px;
	color:#868686;
	line-height: 30px;
}
#major .search p span{
	color:#CBCBCB;
}
#major .search p a{
	color:#888;
}
#major .search p a:hover{
	color:red;
	text-decoration: underline;
}

#major .buyCar{
	float: right;
	width: 80px;
	height: 32px;
	line-height: 32px;
	background-color: #EFEFED;
	border:1px solid #D7D7D7;
	padding-left: 44px;
	margin-top: 20px;
	font-size: 12px;
	color:#666666;
	position: relative;
}
#major .buyCar span{
	color:#CB0155;
}
#major .buyCar .icon_car{
	display: block;
	width: 23px;
	height: 20px;
	background:url("../img/sprites.fw.png") -155px 0;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -10px;
}
/*--------nav------*/
#nav{
	width: 100%;
	height: 34px;
	background: #A21F25;
}
#nav .container{
	height: 34px;
}
#nav .container .nav_l{
	float: left;
	width: 190px;
	height: 34px;
	position: relative;
}
#nav .container .nav_l>a{
	display: block;
	width: 190px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #FDFEFF;
	font-weight: bold;

}
#nav .container .nav_l ul{
	position: absolute;
	left: 0;
	top: 34px;
	padding-top: 7px;
	background: #1F1909;
	display: none;
	z-index: 1000;
}
#nav .container .nav_l  ul li{
	position: relative;
}

#nav .container .nav_l  ul li:hover{
	background: #a21f25;	
}



#nav .container .nav_l  ul a{
	display: block;
	height: 42px;
	/*190-41=149*/
	width: 149px;
	line-height: 42px;
	font-size:12px;
	color:#FFFEFC;
	padding-left: 41px;	
}
#nav .container .nav_l ul .icon{
	display: block;
	width: 23px;
	position: absolute;
	top: 50%;
	left: 11px;
}
#nav .container .nav_l ul .icon_shoes{
	height: 12px;
	background: url("../img/sprites.fw.png") -200px 0;
	margin-top: -6px;
}
#nav .container .nav_l ul .icon_clothes{
	height: 21px;
	background: url("../img/sprites.fw.png") -230px 0;
	margin-top: -10px;
}
#nav .container .nav_l ul .icon_basketball{
	height: 19px;
	background: url("../img/sprites.fw.png") -260px 0;
	margin-top: -10px;
}
#nav .container .nav_l:hover>a{
	background:#B9363C;
}
#nav .container .nav_l:hover ul{
	display: block;
}
#nav .nav_c{
	float: left;
}
#nav .nav_c li{
	float: left;
	height: 34px;
}
#nav .nav_c li a,#nav .nav_r li a{
	display: block;
	height: 24px;
	padding-top:10px;
	color:#FEFEFE;
	font-size: 14px;
}
#nav .nav_c li a span,#nav .nav_r li a span{
	display: block;
	height: 14px;
	line-height: 14px;
	padding: 0 17px 0 13px;
	border-right: 1px dotted #D99F9B;
}
#nav .nav_c .one{
	background: #444444;
	margin-right: 2px;
}
#nav .nav_c .one a span{
	padding-left: 21px;
	border-right: none;
}
#nav .nav_c li a:hover{
	background: #444444;
	margin-left: -1px;
	padding-left: 1px;
}
#nav .nav_c li a:hover span{
	border-color: #444444;
}
#nav .nav_r{
	float: right;
}
#nav .nav_r li{
	float: left;
	position: relative;
}
#nav .nav_r li a span{
	border-right: 1px solid #D99F9B;
}
#nav .nav_r li .youhui{
	display: block;
	width: 33px;
	height: 17px;
	background: url("../img/donghua.gif") -68px 0;
	position: absolute;
	right: -4px;
	top: -8px;
}
#nav .nav_r a:hover{
	color: #fc0;
	text-decoration: underline;
}
#nav .nav_r li:last-child a{
	color: #fc0;
}


.footer{
	width: 100%;
	height: 425px;
	border-top: 2px solid #ce3c3b;
	background: #f8f8f8;
}

.footer .row{
	height: 225px;
	width: 1233px;
	background: #ddd ;
}
.footer .row .cont{
	width: 1190px;
	height: 195px;
	margin: 0 auto; 
	background: #666 ;
	padding: 15px;
	overflow: hidden;
}
.foot .row .cont .em{
	height: 195px;
	width: 230px;
	background-image: url("../img/erwei.jpg");
	margin-left: 15px;
}
.foot .row .cont ul{

}
.footer .row02{

}
.footer .row03{

}
.footer .row04{

}